h1 a {
    color: #FCA205;
    font-family: 'Indie Flower', cursive;
}

.page-header {
    background-color: #0E3E0E;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 60pt;
    text-decoration: none;
    text-align: center;
}

.container {
	background-color: rgba(51, 216, 51, 0.22);
}

h1, h2, h3, h4 {
    font-family: 'Lobster';
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

p {
	text-align: justify;
	max-height: 100px;
    overflow: hidden;
}